<h1 class="">{{ title }}</h1>
<div class="container">

  <form action="">
    <div class="mb-3">
      <label for="numero1">Número 1:</label>
      <input type="number" [(ngModel)]="numero1" name="numero1"><br/>  
    </div>
    
    <div class="mb-3">
      <label for="numero2">Número 2:</label>
      <input type="number" [(ngModel)]="numero2" name="numero2"><br/>  
    </div>
    
    <div class="input-group mb-3">
      <input type="submit" class="btn tn-outline-secondary" value="Sumar" (click)="sumar()">
      <input type="submit" class="btn tn-outline-secondary" value="Restar" (click)="restar()">
      <input type="submit" class="btn tn-outline-secondary" value="Multiplicar" (click)="multiplicar()">
      <input type="submit" class="btn tn-outline-secondary" value="Dividir" (click)="dividir()">
    </div>
    

  </form>

</div>
<p class="">Resultado: {{resultado}}</p>